 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 910px;
  line-height: 1;
  font-weight: 800;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 5.333333333333333rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1563px;
}

.u-section-2 .u-text-1 {
  width: 817px;
  line-height: 0.8;
  font-family: Livvic;
  font-size: 6rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 817px;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 767px;
  height: 691px;
  margin: 438px -35px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 843px;
  height: 836px;
  margin: -1068px auto 0 51px;
}

.u-section-2 .u-shape-3 {
  height: 1014px;
  width: 1176px;
  margin: -877px -18px 0;
}

.u-section-2 .u-list-1 {
  width: 654px;
  margin: -878px auto 309px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 9px));
  min-height: 724px;
  --gap: 18px;
  grid-auto-columns: calc(50% - 9px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-shape-1 {
    height: 680px;
    margin-top: 378px;
    margin-right: -33px;
  }

  .u-section-2 .u-shape-2 {
    width: 849px;
    margin-top: -1008px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    height: 994px;
    width: 1006px;
    margin-right: -33px;
    margin-left: -33px;
  }

  .u-section-2 .u-list-1 {
    width: 557px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2228px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 75px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-shape-1 {
    height: 839px;
    width: 720px;
    margin-top: 973px;
    margin-right: -40px;
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
    margin-top: -1603px;
  }

  .u-section-2 .u-shape-3 {
    height: 1623px;
    width: 782px;
    margin-top: -984px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-2 .u-list-1 {
    width: 377px;
    margin-top: -1513px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
  }

  .u-section-2 .u-shape-3 {
    width: 710px;
    margin-left: -92px;
  }

  .u-section-2 .u-list-1 {
    width: 341px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2287px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 390px;
    margin-left: -50px;
  }

  .u-section-2 .u-shape-3 {
    width: 600px;
    margin-left: -154px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-family: Livvic;
  font-weight: 500;
  width: 768px;
  margin: 24px auto 0;
}

.u-section-3 .u-shape-1 {
  height: 228px;
  margin: 104px auto 0 0;
}

.u-section-3 .u-video-1 {
  width: 725px;
  height: 408px;
  margin: -332px auto 0;
}

.u-section-3 .u-image-1 {
  width: 169px;
  height: 65px;
  margin: 24px auto 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 42px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 5rem;
    margin-top: 77px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    margin-top: -280px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-top: 146px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    width: 720px;
    height: 405px;
    margin-top: -251px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4rem;
    width: 540px;
    margin-top: -153px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-top: -315px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 119px;
    margin-top: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 84px;
    height: 38px;
    margin-top: 37px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 895px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-family: Livvic;
  font-weight: 500;
  width: 768px;
  margin: 35px auto 0;
}

.u-section-4 .u-image-1 {
  width: 410px;
  height: 391px;
  margin: 80px 611px 0 119px;
}

.u-section-4 .u-image-2 {
  width: 410px;
  height: 391px;
  object-position: 50% 19.33%;
  margin: -391px 113px 0 617px;
}

.u-section-4 .u-text-2 {
  font-family: Candal;
  font-size: 3rem;
  width: 372px;
  margin: 35px 630px 0 138px;
}

.u-section-4 .u-text-3 {
  font-family: Candal;
  font-size: 3rem;
  margin: -53px 66px 0 570px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-style: italic;
  width: 403px;
  margin: 15px 615px 0 122px;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  font-size: 2.25rem;
  font-style: italic;
  margin: -39px 134px 0 638px;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  width: 179px;
  margin: 33px 727px 0 234px;
}

.u-section-4 .u-text-7 {
  text-transform: none;
  font-size: 1.5rem;
  margin: -7px 226px 0 730px;
}

.u-section-4 .u-text-8 {
  text-transform: none;
  font-size: 1.5rem;
  margin: -1px 102px 0 606px;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  font-size: 1.5rem;
  width: 395px;
  margin: -37px 619px 47px 126px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    width: 565px;
    margin-top: 31px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 23px;
    margin-right: 506px;
    margin-left: 24px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 28px;
    margin-left: 502px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 523px;
    margin-left: 42px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: -16px;
    margin-left: 458px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 1px;
    margin-right: 505px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 46px;
    margin-left: 519px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-right: 623px;
    margin-left: 141px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -27px;
    margin-right: 144px;
    margin-left: 618px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 10px;
    margin-right: 17px;
    margin-left: 491px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin: -26px 519px 39px 37px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-4 .u-text-1 {
    width: 558px;
    margin-top: 40px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 371px;
    margin-top: -634px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 504px;
    margin-top: 616px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 403px;
    margin-top: -654px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: 368px;
    margin-top: 630px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    width: 179px;
    margin-top: -634px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    width: 184px;
    margin-top: 643px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    width: 432px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    width: 395px;
    margin: -696px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1634px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 1880px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -391px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 10px;
    margin-left: 108px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -706px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 32px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-image-1 {
    height: 324px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 324px;
    margin-top: 216px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: 234px;
    margin-top: -526px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 517px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 518px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -540px;
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 525px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
    width: 259px;
    margin-top: -568px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 679px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 55px auto 55px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 569px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 50px 40px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  font-family: Livvic;
  line-height: 1.4;
  margin: 151px 25px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-shape-1 {
  width: 250px;
  height: 219px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 352px;
  height: 286px;
  margin: -25px auto 0 158px;
}

.u-section-5 .u-image-1 {
  width: 439px;
  height: 439px;
  background-image: url("images/ChatGPTImageJun17202506_31_29PM.png");
  background-position: 50% 50%;
  margin: -479px auto 40px 21px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 12px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -26px;
    margin-left: 89px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: -472px;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
    margin-left: -10px;
  }

  .u-section-5 .u-shape-2 {
    width: 281px;
    height: 268px;
    margin-top: -69px;
    margin-left: 73px;
  }

  .u-section-5 .u-image-1 {
    width: 337px;
    height: 337px;
    margin-top: -379px;
    margin-bottom: 42px;
    margin-left: -3px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-1 {
    width: 305px;
    height: 267px;
    margin-left: 10px;
  }

  .u-section-5 .u-shape-2 {
    width: 304px;
    height: 290px;
    margin-top: -79px;
    margin-left: 206px;
  }

  .u-section-5 .u-image-1 {
    width: 418px;
    height: 418px;
    margin-top: -457px;
    margin-bottom: 40px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-5 .u-shape-1 {
    width: 252px;
    height: 214px;
    margin-left: -10px;
  }

  .u-section-5 .u-shape-2 {
    width: 281px;
    height: 255px;
    margin-top: -102px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: -347px;
    margin-bottom: 0;
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}